/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('./fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('./fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('./fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('./fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('./fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #071629;
}

a {
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    color: #071629;
}

a:hover {
    color: #FF6565;
    transition-duration: .2s;
}

a:active {
    transition-duration: .2s;
    color: #FF6565;
}

button {
    background-color: #FF6565;
    color: #ffffff;
    border: none;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
    transition-duration: .2s;
}

button:active {
    transition-duration: .2s;
    opacity: 0.9;
}

/* Header*/
header {
    width: 100%;
    position: absolute;
    top: 28px;
    left: 0;
}

header nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 161px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header nav ul a {
    color: #ffffff;
    font-size: 12px;
    transition-duration: .32;
    font-weight: bold;
}

.menu-icon {
    display: none;
}

#check {
    display: none;
}


/* Hero Section */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 160px;
    flex-direction: column;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    gap: 40px;
}

.hero-inner div h1 {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.hero-inner div p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.hero-inner button {
    padding: 18px 30px;
    font-weight: 700;
    border-radius: 26px;
    cursor: pointer;
}

.hero-inner p {
    color: #ffffff;
    margin-top: 30px;
}

/* What we do section */
.what-we-do {
    width: 100%;
    padding: 120px 0px;
}

.what-we-do .inner-wwd {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.what-we-do .inner-wwd .things {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.what-we-do .inner-wwd h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 60px;
}

.what-we-do .inner-wwd .p-cont {
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.what-we-do .inner-wwd .things {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.holberton_school-icon-ic_sound:before {
    content: "\e90e";
    font-size: 100px;
    color: #FF6565;
}

.holberton_school-icon-ic_video:before {
    content: "\e910";
    font-size: 100px;
    color: #FF6565;
  }

.holberton_school-icon-ic_hearing:before {
    content: "\e909";
    font-size: 100px;
    color: #FF6565;
}

.holberton_school-icon-ic_music:before {
    content: "\e90d";
    font-size: 100px;
    color: #FF6565;
}

.what-we-do .inner-wwd .things .media-cont div {
    margin-bottom: 28px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.what-we-do .inner-wwd .things .media-cont h3 {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 18px;
}

@media (max-width: 1040px) {
    header nav {
        width: 80%;
    }

    .hero-inner {
        max-width: 80%;
        justify-content: center;
        padding-top: 350px;
        gap: 18px;
    }

    /* What we do section */
    .what-we-do .inner-wwd {
        max-width: 95%;
        margin: auto;
        text-align: center;
    }

    .what-we-do .inner-wwd .things {
        display: grid;
        width: 60%;
        margin: auto;
        column-gap: 100px;
        grid-template-columns: 1fr 1fr;
    }

    .what-we-do .inner-wwd .p-cont {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }
}

@media (max-width: 480px) {
    header nav {
        width: 100%;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: center;
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        align-items: center;
        transition-duration: .2s;
        height: 0px;
    }

    header nav ul a {
        font-size: 14px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 12px;
        left: 30px;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        height: 2px;
        border-radius: 10px;
        background: #ffffff;
        margin-bottom: 5px;
        transition: all 0.3s;
    }

    .menu-icon span:nth-child(1), .menu-icon span:nth-child(3) {
        width: 20px;
    }

    .menu-icon span:nth-child(2) {
        width: 12px;
    }

    #check:checked ~ ul {
        height: 100px;
        transition-duration: .2s;
    }  
    
    #check:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg) translate(1px, 4px);
    }
        
    #check:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg) translate(1px, -4px);
    }
        
    #check:checked + .menu-icon span:nth-child(2) {
        display: none;
    }

    #check:checked + .menu-icon {
        padding-top: 2px;
    }
        

    .hero {
        background-position: 34% top;
    }

    .hero-inner {
        max-width: 90%;
        padding: 0px 30px;
        justify-content: end;
        padding-bottom: 110px;
        gap: 18px;
    }

    .hero-inner h1 {
        line-height: 40px;
        margin-bottom: 10px;
    }

    /* What we do section */
    .what-we-do .inner-wwd .things {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }

    .what-we-do .inner-wwd .p-cont {
        width: 70%;
        margin: auto;
        margin-bottom: 100px;
    }
    
    .what-we-do .inner-wwd .things {
        grid-template-columns: 1fr;
    }
}