@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #071629;
}

a {
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    color: #071629;
}

a:hover {
    color: #FF6565;
    transition-duration: .2s;
}

a:active {
    color: #FF6565;
}

button {
    background-color: #FF6565;
    color: #ffffff;
    border: none;
    font-size: 14px;
}