/* Header Section */

header {
    width: 100%;
    position: absolute;
    top: 28px;
    left: 0;
}

header nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 161px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header nav ul a {
    color: #ffffff;
    font-size: 12px;
    transition-duration: .32;
    font-weight: bold;
}

.menu-icon {
    display: none;
}

#check {
    display: none;
}


/* Hero Section */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./images/headphones_hero_1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 160px;
    flex-direction: column;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    gap: 40px;
}

.hero-inner div h1 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.hero-inner div p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.hero-inner button {
    padding: 18px 30px;
    font-weight: 700;
    border-radius: 26px;
    cursor: pointer;
}

.hero-inner p {
    color: #ffffff;
    margin-top: 30px;
}


/* What we do section */
.what-we-do {
    width: 100%;
}

.what-we-do .inner-wwd {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.what-we-do .inner-wwd .things {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.what-we-do .inner-wwd h1 {
    font-size: 32px;
    font-weight: 700;
}